doctype html
html(lang="en")
    head
        title edit movie
        include ../includes/header.jade

    body
        .container
            h1 Edit
            form(name="add-movie", method="post", action=endpointUrl)
                div.form-group
                    span.col-sm-2.control-label Title
                    input(type="text", name="title", value=movie.title)
                div.form-group
                    span.col-sm-2.control-label Year
                    input(type="text", name="year", value=movie.year)
                div.form-group
                    span.col-sm-2.control-label Url
                    input(type="text", name="url", value=movie.url)
                div.form-group
                    span.col-sm-2.control-label Director
                    input(type="text", name="director", value=movie.director)
                div.form-group
                    div.col-sm-offset-2.col-sm-10
                        input(type="submit", value="edit").btn.btn-default