doctype html
html(lang="en")
    head
        title movies
        include ../includes/header.jade

    body
        .container

            mixin movieMixin(title,director,year, url, id)
                li
                    if isAuthenticated
                        button( type="button" class="remove-btn"
                            onclick="app.deleteMovie("+id+",'"+title+"');") X
                        a(href=link.edit+id) edit
                    h2= title
                    a(href='?director='+director class='movieDirector') #{director}
                    div.movieYear= year
                    a(href=url target='_blank' class='movieTrailer') ⇝ trailer

            h1 Movies
            a(href=link.home class='pageLink') home
            if isAuthenticated
                a(href=link.logout class='pageLink') logout
                a(href=link.newMovie class='pageLink') add a movie
            else
                a(href=link.login class='pageLink') login

            <br/>
            div.center= movies.length + ' movies'
            .moviesDirector
                ul
                    for director in directors
                        li
                            a(href= '?director=' + director.name) #{director.name} (#{director.numberMovies})
            .moviesList
                ul
                    for movie in movies
                        +movieMixin(movie.title, movie.director, movie.year, movie.url, movie.$loki)