doctype html
html(lang="en")
    head
        title movies
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
        link(rel="stylesheet" href="/styles.css")
        script(src='/app.js')

    body
        .container

            mixin movieMixin(title,director,year, url, id)
                li
                    if isAuthenticated
                        button( type="button" class="btn"
                            onclick="app.deleteMovie("+id+",'"+title+"');") X
                    h2= title
                    a(href= '?director='+director) #{director}
                    span= year
                    a(href= url) trailer

            h1 Movies
            a(href='/' class='pageLink') home
            if isAuthenticated
                a(href='/logout' class='pageLink') logout
                a(href='/new-movie' class='pageLink') add a movie
            else
                a(href='/login' class='pageLink') login

            <br/>
            div.center= movies.length + ' movies'
            .moviesList
                ul
                    for movie in movies
                        +movieMixin(movie.title, movie.director, movie.year, movie.url, movie.$loki)