doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
        script(type='text/javascript').
            if (foo) bar(1 + 5)
    body
        .container
            h1 Movies

            mixin movieMixin(title,author,year, url)
                li
                    h2= title
                    span= author
                    span= year
                    div= url

            ul
                for movie in movies
                    +movieMixin(movie.title, movie.director, movie.year, movie.url)
                else
                    no movies!